Apollo/esb-api-apollo/src/main/resources/xsds/FileReceiverServiceRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mitchell.com/schemas/filedelivery" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FileReceiverServiceRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StatusString">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						<xs:enumeration value="AUTH_FAILURE"/>
						<xs:enumeration value="INVALID_REQUEST"/>
						<xs:enumeration value="REJECT"/>
						<xs:enumeration value="ACCEPT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


