Apollo/esb-api-apollo/src/main/resources/xsds/GENERIC-FileRecieverWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:conv="http://www.avivacanada.com/services/fuse/apollo/autoestimate" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.avivacanada.com/services/fuse/apollo/autoestimate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.avivacanada.com/services/fuse/apollo/autoestimate">
  <types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.avivacanada.com/services/fuse/apollo/autoestimate">
     
      <s:element name="receiveFile">
        <s:complexType>
          <s:sequence>
            <s:element name="payload" type="s:string" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="receiveFileResult" type="s:string" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
 
  <message name="receiveFileSoapIn">
    <part name="parameters" element="s0:receiveFile"/>
  </message>
  <message name="receiveFileSoapOut">
    <part name="parameters" element="s0:receiveFileResponse"/>
  </message>
  
  <portType name="FileReceiverServiceSoap">    
    <operation name="receiveFile">
      <input message="s0:receiveFileSoapIn"/>
      <output message="s0:receiveFileSoapOut"/>
    </operation>
  </portType>

  <binding name="FileReceiverServiceSoap" type="s0:FileReceiverServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>   
    <operation name="receiveFile">
      <soap:operation soapAction="http://www.avivacanada.com/services/fuse/apollo/autoestimate/receiveFile" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>  

  <service name="FileReceiverService">
		<port name="FileReceiverServiceSoap" binding="s0:FileReceiverServiceSoap">
			<soap:address location="http://localhost/FileReceiverWS/FileReceiverService.asmx"/>
		</port>
	</service>
</definitions>
